	<!DOCTYPE html>
	<hmtl xmlns:th="http://www.thymeleaf.org">
		<head>
			<title>Corona Tracker</title>
			<link rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
			crossorigin="anonymous">
		</head>
		<body>
			<div class="container-fluid">
				<header>
				<div class="container">
					<h1 class="container" style="background: lightgrey; text-align: center;" >Corona Virus Tracker</h1>
				</div>
				</header>
			<div class="jumbotron">
				<h1 th:text="${totalCases}"></h1>
				<p class="lead">This application lists the total reported COVID-19 cases as of today.</p>
				<p class="lead-3">Take precautions, be safe.</p>
				<hr class="my-4">
				<p class="lead-2">Total increase since yesterday: <span><h3 th:text="${newTotal}"></h3></span></p>
			</div>
			<div class="container">
			<table class="table table-striped table-bordered">
				<thead class="table table-dark">
					<tr>
						<th>Country</th>
						<th>State</th>
						<th>Total reported cases</th>
						<th>Daily increase</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="stat: ${stats}">
						<td th:text="${stat.country}">-</td>
						<td th:text="${stat.state}"></td>
						<td th:text="${stat.latestTotalReportedCases}">0</td>
						<td th:text="${stat.difference}">0</td>
					</tr>
				</tbody>
			</table>
			</div>
			</div>
		</body>
		
		<footer class="footer mt-auto py-3">
			<div class="container">
				<span class="text-muted" >Disclaimer: data is from an anonymous source and should be treated with scrutiny.</span>
				<span style="float:right; background: skyblue;">&copy;Ruthresh 2020</span>
			</div>
		</footer>
	</hmtl>